.content, .nimbleArea{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nimbleArea{
    width: 60vw;
    height: 60vh;
    border: solid 1px #000000;
}
.molduraServico{
    width: 100%;
    height: 100%;
}